bin/
obj/
release/
packages/
build/
target/
playerbuild/
NativePlugins/ForzaHorizon6OmniBridge/build/
NativePlugins/ForzaHorizon6OmniBridge/bin/

# Netease bridge built artifacts (Go DLL)
netease_bridge/*.dll
netease_bridge/*.h

.vscode/

*.log
